<div class="article-excerpt-container" padding-vertical>
  <div [style.background-image]="'url('+excerpt.feature_image+')'" class="feature-image">
  </div>
  <h1 class="article-title">{{excerpt.title}}</h1>
  <div class="article-meta">
    <p>by {{excerpt.user_name}}
      <i class="glyphicon glyphicon-time"></i>{{excerpt.created_at | date}}
      <i class="glyphicon glyphicon-comment"></i> 0 Comments
    </p>
  </div>
  <p class="article-excerpt text-justify">{{excerpt.excerpt}}</p>
  <div class="text-center">
    <a (click)="onClickContinueReading(excerpt.slug)" class="btn btn-default btn-lg">Continue Reading</a>
  </div>
</div>