<!--<h1>Trying to read article - {{articleData}}</h1>-->
<!--{{article.title}}-->
<div padding-vertical>
  <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4">
        <img src="assets/images/blog-logo.png" alt="Blog Logo">
      </div>
    </div>
    <div class="row">
      <!--<div class="col-md-8">-->
      <div class="col-md-offset-2 col-md-8">
        <!--<div *ngIf="articleLoadingFlag">-->
                  <navbar-main></navbar-main>

            <div class="article-body-container" padding-vertical>
              <h1 class="article-title">{{article.title}}</h1>
              <div [style.background-image]="'url('+article.feature_image+')'" class="feature-image">
              </div>
              <div class="article-meta text-center">
                <p no-margin>by Rudraprasad Das &nbsp;&nbsp;
                  <i class="glyphicon glyphicon-time"></i> {{article.created_at}} &nbsp;&nbsp;
                  <i class="glyphicon glyphicon-comment"></i> Comments
                </p>
              </div>
              <p class="article-excerpt text-justify">{{article.excerpt}}</p>
              <p class="article-body text-justify">{{article.body}}</p>
              <!--<div class="text-center">
                <a (click)="onClickContinueReading(article.slug)" class="btn btn-default btn-lg">Continue Reading</a>
              </div>-->
            </div>

        <!--</div>-->
      </div>
    </div>
  </div>
</div>