<div padding-vertical>
  <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4">
        <img src="assets/images/blog-logo.png" alt="Blog Logo">
      </div>
    </div>
    <div class="row">
      <div infinite-scroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="300" (scrolled)="onScroll()" [infiniteScrollDisabled]="disableInfiScroll"
        class="col-md-8">
        <navbar-main></navbar-main>
        <div>
          <article-excerpt *ngFor="let article of articles" [excerpt]="article">
          </article-excerpt>
          <sk-folding-cube [isRunning]="!articleNotLoadingFlag || !disableInfiScroll"></sk-folding-cube>
        </div>
      </div>
      <div class="col-md-4">
        <widget-about></widget-about>
        <!--<p>dummy</p>-->
      </div>
    </div>
  </div>
</div>