.feature-image{
  height: 250px;
  background-size: cover;
  background-position: center;
  /*overflow: hidden;*/
}

.feature-image-container > img{
  width: 100%;
}

.article-title{
  text-align: center;
  font-size: 42px;
  font-family: 'Cinzel';
}

.article-meta{
  text-align: center;
  font-style: italic;
  font-size: 18px;
  color: #999;
}

.article-meta .glyphicon{
  font-size: 12px;
  margin-left: 16px;
  margin-right: 6px;
}

.article-excerpt{
  font-size: 22px;
  text-align: justify;
}

.article-excerpt-container{
  border-bottom: 1px solid #DDD;
}