.feature-image{
  height: 250px;
  background-size: cover;
  background-position: center;
  /*overflow: hidden;*/
}

.feature-image-container > img{
  width: 100%;
}

.article-title{
  font-size: 48px;
  text-align: center;
  margin-top: 0px;
}

.article-excerpt{
  font-size: 20px;
  font-style: italic;
  color: #999 !important;
}

.article-meta{
  text-align: center;
  font-style: italic;
  font-size: 18px;
  color: #999;
  margin-top: 16px;
  margin-bottom: 16px;
}

.article-meta .glyphicon{
  font-size: 12px;
  margin-left: 16px;
  margin-right: 6px;
}


/*.article-excerpt i{
  font-color: #666 !important;
}*/

.article-body{
  font-size: 22px;
}

.article-body-container{
  padding: 30px 0px 30px 0px;
  /*margin: 25px 0px 0px 0px;*/
  /*border-bottom: 1px solid #DDD;*/
}