.widget-title{
  font-family: "Dancing Script";
  text-align: center;
  /*border-bottom: 1px solid #999;*/
  background-color: #333;
  color:#FFF;
  font-size: 22px;
  /*padding-bottom: 10px;*/
  line-height: 40px;
}

.widget-body{
  padding-top: 20px; 
}

.widget-body img{
  margin-bottom: 16px;
}

