<nav class="navbar navbar-main">
  <div>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li *ngFor="let menuItem of menu">
          <a (click)="onClickMenuItem(menuItem.route)">
            {{menuItem.name}}
          </a>
        </li>
        <!--<li>
          <a href="#">
            Articles
          </a>
        </li>-->
      </ul>
    </div>
  </div>
</nav>