<carousel data-ride="carousel">
  <slide>
    <img src="http://lorempixel.com/800/600/" alt="First slide">
  </slide>
  <slide>
    <img src="http://lorempixel.com/800/600/" alt="Second slide">
  </slide>
  <slide>
    <img src="http://lorempixel.com/800/600/" alt="Third slide">
  </slide>
</carousel>