<div padding-vertical> 
  <div class="widget-title">
    About Me
  </div>
  <div class="widget-body">
    <div>
      <img class="img-responsive" src="assets/images/about-me.jpg" alt="">
    </div>
    <h4 class="text-center" no-margin>Rudraprasad Das</h4>
    <h5 style="color:#999;" class="text-center">Developer</h5>
    <p style="font-size: 18px;" class="text-justify">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    </p>
  </div>
</div>