<!--<h1>
  {{title}}
</h1>-->
<the-blog-site></the-blog-site>
<!--<router-outlet></router-outlet>-->
<!--<button md-button [mdMenuTriggerFor]="menu">Menu</button>
<md-menu #menu="mdMenu">
  <button md-menu-item>Item 1</button>
  <button md-menu-item>Item 2</button>
</md-menu>-->