.navbar-main{
  margin-top:10px;
  margin-bottom:0px;
}

.navbar-main .navbar-collapse{
  padding: 0px;
}

.navbar-nav>li>a{
  padding: 0px;
  margin-right: 30px;
  font-size: 28px;
  line-height: 1.8;
  font-family: "Dancing Script";
  color: #333;
}

.navbar-nav>li.active>a{
  /*color: #d0a92e;*/
  text-decoration: underline;
}