/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';
body{
  font-family: 'Crimson Text' !important;
}

[padding]{
  padding: 30px;
}

[padding-vertical]{
  padding-top: 30px;
  padding-bottom: 30px;
}

[padding-horizontal]{
  padding-left: 30px;
  padding-right: 30px;
}

[padding-left]{
  padding-left: 30px !important;
}

[padding-right]{
  padding-right: 30px !important;
}

[no-margin]{
  margin: 0px;
}


.fancy-img-container{
  padding: 16px;
  background-image: url('assets/images/picture-corner-left.png'),url('assets/images/picture-corner-right.png');
  background-position: top left, bottom right; 
  background-size: 80px;
  background-repeat: no-repeat; 
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Cinzel' !important;
}

.navbar{
  
}